<html>
<head>
    <link rel="stylesheet" href="../client/css/style.css" type="text/css">
        
</head>
<body>
    
    <!-- above the fold start -->
    <div class="intro">
        <div class ="inner">
            
            <div class="content">
               <h1>Cuisine of India</h1>
            </div>
        </div>
    </div>
    
    <div class="page">
    
      <h2>About</h2>
    
    </div>
</body>    
</html>